{% include 'header.html' %}
    <form action="{{ url_for('index')}}" method="get"> 
    <input type="hidden" name="user_id" value="user_id">
    <!-- <button onclick="location.href='postView.html'">Document</button> -->
    {% for chat in data %}
    <div class="flow-root"><dl class="-my-3 divide-y divide-gray-100 text-sm"><div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-medium text-gray-900" onclick="location.href='postView'">{{chat.title}}</dt><dd class="text-gray-700 sm:col-span-2"></dd>
        </div>
    {% endfor %}
    </form>
    {% include 'footer.html' %}